html,
body {
  margin: 0;
  padding: 0;
}

header {
  background-color: blue;
  height: 100%;
  width: 100%;
}


footer {
  background-color: red;
  height: 100%;
  width: 100%;
}

.flex-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  background-color: white;
  width: 100%;
  height: 100%;
  flex-flow: column wrap;
  justify-content: center;
}
 
.item {
  height: 100px;
  width: 100px;
  margin: 5px;
  background-color: #FCF2EC;
}